<footer>
    <ul>
        <li class="left"><span>Copyright&nbsp;&copy;&nbsp;2018 | THE BROGRAMMERs</span></li>
        <li class="middle">
            <ul>
                <li><span class="fa fa-home"></span><a href="/">&nbsp;&nbsp;Home.</a></li>
                <li><span class="fa fa-book"></span><a href="/tutorial">&nbsp;&nbsp;Tutorial.</a></li>
                <li><span class="fa fa-users"></span><a href="/team">&nbsp;&nbsp;Team.</a></li>
                <li><span class="fa fa-phone"></span><a href="/contact">&nbsp;&nbsp;Contact us.</a></li>
            </ul>
        </li>
        <li class="right">

        </li>
    </ul>
</footer>
