<footer>
    <ul>
        <li class="left">
            <ul>
                <li><a href=""><img src="img/logo/Team_Logo.png"></a></li>
                <li><span>Copyright&nbsp;&copy;&nbsp;2018 | THE BROGRAMMERs</span></li>
            </ul>
        </li>
        <li class="right">
            <ul>
                <li><span>IN COLLABORATION WITH</span></li>
                <li><a href=""><img src="img/logo/DACSEE_Logo_(Modify).png"></a></li>
                <li><a href=""><img src="img/logo/INTI_Logo.png"></a></li>
                <li><a href=""><img src="img/logo/uow_logo.png"></a></li>
            </ul>
        </li>
    </ul>
</footer>
