<header>
    <ul>
        <li class="left">
            <h1><span class="big">DACSEE</span>&nbsp;&nbsp;&nbsp;<span class="small">eWallet</span></h1>
        </li>
        <li class="center">
            <img src="img/logo-orange.png" class="logo-size-medium" />
        </li>
        <li class="right">

            <div class="menu-icon" onclick="displayMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </li>
    </ul>
    <h2><span class="big">PAY WITH</span><br><span class="small">Your Cryptocurrency Wallet</span></h2>
</header>

<nav>
    <ul>
        <li id="nav-li-a"><a href="/">Home.</a></li>
        <li>/</li>
        <li id="nav-li-b"><a href="tutorial">Tutorial.</a></li>
        <li>/</li>
        <li id="nav-li-c"><a href="team">Team.</a></li>
        <li>/</li>
        <li id="nav-li-d"><a href="contact">Contact.</a></li>
    </ul>
</nav>

<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="/js/particles.min.js"></script>
<script src="/js/app.js"></script>

<script>
    function displayMenu(x) {
        wait = 0;
        // Menu options obj
        var nav_li = ["nav-li-a", "nav-li-b", "nav-li-c", "nav-li-d"];
        // Hide menu options 
        if (x.classList.contains("change") === true) {
            // Enable scrollbar
            document.documentElement.style.overflow = 'auto'; // firefox, chrome
            document.body.scroll = "yes"; // ie only
            // Fade - in -> Menu options
            for (i = nav_li.length - 1, j = 0; i >= 0; i--) {
                var obj = document.getElementById(nav_li[i]);
                j = j + .05;
                obj.style.animationDelay = j + 's';
                obj.classList.add("fade-out");
                obj.classList.remove("fade-in");
            }
            wait = 400;
        } else { // Show menu options
            // Disable scrollbar
            document.documentElement.style.overflow = 'hidden'; // firefox, chrome
            document.body.scroll = "no"; // ie only
            // Fade- in -> Menu options
            for (i = 0, j = .35; i < nav_li.length; i++) {
                var obj = document.getElementById(nav_li[i]);
                j = j + .05;
                obj.style.animationDelay = j + 's';
                obj.classList.add("fade-in");
                obj.classList.remove("fade-out");
            }
        }

        setTimeout(function() {
            // Menu icon transformation
            x.classList.toggle("change");
            // Navigation bar
            var nav = document.getElementsByTagName("nav")[0];
            nav.classList.toggle("change");
        }, wait);
    }

</script>
