<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
        div#main {
            width: 95%;
            z-index: 1;
            position: relative;
            margin: 1em auto;
            text-align: center;
        }

        ul#heading>li>h3 {
            font-size: 2.5em;
        }

        ul#heading>li {
            width: 50%;
            margin-top: 2.5em;
            margin-bottom: 1em;
            vertical-align: middle;
        }

        ul#heading>li.left {
            text-align: left;
        }

        ul#heading>li.right {
            text-align: right;
        }

        /*
        ul#contact-list {
            width: 800px;
            margin: 0 auto;
            background: rgba(255, 255, 255, .9);
        }

        ul#contact-list > li {
            display: block;
            padding: 2em 0;
            text-align: center;
        }
        
        ul#contact-list > li > h5 {
            font-size: 1.5em;
            font-weight: bold;
        }
        ul#contact-list > li > a {
            margin-top: 2em;
            display: block;
        }
        */

        ul#contact-list {
            width: 1200px;
            margin: 0 auto;
            background: rgba(255, 255, 255, .8);

        }

        ul#contact-list>li {
            padding: 5em 0;
            vertical-align: top;
        }

        ul#contact-list>li.left {
            width: 20%;
            text-align: left;
        }

        ul#contact-list>li.right {
            width: 75%;
            text-align: left;
        }

        div#left-container.wrapper {
            display: block;
            height: 40px;
            background: #fff;
            overflow: hidden;

        }

        div#left-container.wrapper>ul {
            transition: .5s;
        }

        div#left-container.wrapper>ul>li {
            display: block;
        }

        div#left-container.wrapper>ul>li>strong {
            font-size: 2em;
        }

        li.right.container>ul>li {
            display: block;
            vertical-align: middle;
            padding-bottom: 2em;
        }

        li.right.container>ul>li>ul>li {
            padding: 0 1.2em;
            font-size: 1.1rem;
            vertical-align: middle;
        }

        span.big-font {
            font-size: 2em;
        }

        div.contact-info.wrapper {
            display: block;
            height: 20px;
            overflow: hidden;
        }

        div.contact-info.wrapper>ul {
            transition: .5s;
        }

        div.contact-info.wrapper>ul>li {
            display: block;
        }

        ul#selection>li {
            margin: 0 2em;
        }

        ul#selection>li>a {
            cursor: pointer;
            transition: .2s;
            font-weight: bold;
        }

    </style>
</head>

<body>
    <% include partials/header.ejs %>

        <div id="main">

            <ul id="heading">
                <li class="left">
                    <h3>Should you have any queries ?</h3>
                    <strong style="font-size: 1.2em;">Please feel free to contact us</strong>
                </li>
                <li class="right">
                    <h4>/ Contact us</h4>
                </li>
            </ul>

            <div style="margin: 5em 0 0 0;">
                <ul id="contact-list">
                    <li class="left container">
                        <div id="left-container" class="wrapper">
                            <ul id="left-container-wrapper">
                                <li><strong>Phone no.</strong></li>
                                <li><strong>Email</strong></li>
                            </ul>
                        </div>
                    </li>

                    <li class="right container">
                        <ul>
                            <li>
                                <ul>
                                    <li><span class="big-font">/</span></li>
                                    <li>
                                        <div class="contact-info wrapper">
                                            <ul class="contact-info-wrapper">
                                                <li><a href="">019 383 1425</a></li>
                                                <li><a href="">dylankok1996@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><span>\</span></li>
                                    <li>Dylon Kok Chun Wei</li>
                                    <li><span>\</span></li>
                                    <li>Project Leader, Documenter, &amp; Developer</li>
                                </ul>
                            </li>
                            <li style="transform: translateX(-20px);">
                                <ul>
                                    <li><span class="big-font">/</span></li>
                                    <li>
                                        <div class="contact-info wrapper">
                                            <ul class="contact-info-wrapper">
                                                <li><a href="">016 390 7833</a></li>
                                                <li><a href="">zhinshun0812@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><span>\</span></li>
                                    <li>Hong Zhin Shun </li>
                                    <li><span>\</span></li>
                                    <li>Designer &amp; Programmer</li>
                                </ul>
                            </li>
                            <li style="transform: translateX(-40px);">
                                <ul>
                                    <li><span class="big-font">/</span></li>
                                    <li>
                                        <div class="contact-info wrapper">
                                            <ul class="contact-info-wrapper">
                                                <li><a href="">016 678 2473</a></li>
                                                <li><a href="">kongmunhon@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><span>\</span></li>
                                    <li>Kong Mun Hon</li>
                                    <li><span>\</span></li>
                                    <li>Designer &amp; Programmer</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="margin-bottom: 6em;">
                <ul id="selection">
                    <li><a id="btn-phone" style="color: #ffa22a" onclick="switchToPhone(this)">✆ Phone no.</a></li>
                    <li><a id="btn-email" onclick="switchToEmail(this)">✉ Email</a></li>
                </ul>
            </div>
        </div>

        <script>
            function switchToPhone(x) {

                var obj = document.getElementById('left-container-wrapper');
                obj.style.transform = "translateY(0px)";

                obj = document.getElementsByClassName('contact-info-wrapper');
                for (i = 0; i < obj.length; i++) {
                    obj[i].style.transform = "translateY(0px)";
                }

                document.getElementById('btn-phone').style.color = "#ffa22a";
                document.getElementById('btn-email').style.color = "#000000";
            }

            function switchToEmail(x) {
                var obj = document.getElementById('left-container-wrapper');
                obj.style.transform = "translateY(-40px)";

                obj = document.getElementsByClassName('contact-info-wrapper');
                for (i = 0; i < obj.length; i++) {
                    obj[i].style.transform = "translateY(-20px)";
                }

                document.getElementById('btn-phone').style.color = "#000000";
                document.getElementById('btn-email').style.color = "#ffa22a";
            }

        </script>

        <!--
        <ul id="contact-list">
            <li>
                <h5>✆ Phone no.</h5>
                <a href="tel:019-383 1425">+6 (0)19-383 1425</a>
            </li>
            
            <li>
                <h5>Email</h5>
                <a href="mailto:example@gmail.com">example@gmail.com</a>
            </li>
                
            <li>
                <h5>Social network</h5>
                <a href="tel:019-383 1425">fb</a>
            </li>
        </ul>
        -->
        </div>

        <% include partials/footer.ejs %>
</body>

</html>
