<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
        div#main {
            width: 95%;
            z-index: 1;
            position: relative;
            margin: 2em auto;
            text-align: center;
        }

        ul#heading>li>h3 {
            font-size: 2.5em;
        }

        ul#heading>li {
            width: 50%;
            margin-top: 2.5em;
            margin-bottom: 1em;
            vertical-align: middle;
        }

        ul#heading>li.left {
            text-align: left;
        }

        ul#heading>li.right {
            text-align: right;
        }

        #input-form {
            width: 700px;
            margin: 0 auto;
            text-align: left;
        }

        #input-form>li {
            vertical-align: bottom;
        }

        #input-form>li.label {
            width: 35%;
        }

        #input-form>li.input {
            width: 65%;
        }

        #input-form>li.button {
            width: 100%;
            text-align: right;
        }

        #input-form>li.label,
        #input-form>li.input,
        #input-form>li.button {
            margin: 3em 0 1em 0;
        }

        #input-form>li span {
            font-size: 1.2em;
            font-weight: bold;
        }

        #input-form>li>input {
            width: 100%;
            height: 40px;
            border: none;
            outline: none;
            border-bottom: 1px solid #000000;
        }

        #input-form>li.button>input {
            font-size: 1.2em;
            font-weight: bold;
            border: none;
            outline: none;
            background: none;
            width: auto;
            cursor: pointer;
        }

        #input-form>li.full {
            width: 100%;
            margin-bottom: 3em;
            text-align: right;
        }

    </style>
</head>

<body>
    <% include partials/header.ejs %>

        <div id="main">
            <ul id="heading">
                <li class="left">
                    <h3>Register a DACSEE eWallet account</h3>
                </li>
                <li class="right">
                    <h4>/ Register</h4>
                </li>
            </ul>

            <form style="margin: 5em 0;" method="post">
                <ul id="input-form">
                    <li class="label"><span class='fa fa-user'></span><span>&nbsp;&nbsp;First name</span></li>
                    <li class="input"><input type='text' name="firstname"></li>
                    
                    <li class="label"><span class='fa fa-user'></span><span>&nbsp;&nbsp;Second name</span></li>
                    <li class="input"><input type='text' name="secondname"></li>
                    
                    <li class="label"><span class='fa fa-user'></span><span>&nbsp;&nbsp;Your User ID</span></li>
                    <li class="input"><input type='text' name="userid"></li>
                    
                    <li class="label"><span class='fa fa-lock'></span><span>&nbsp;&nbsp;Password</span></li>
                    <li class="input"><input type='password' id="password" name="password"></li>
                    
                    <li class="label"><span class='fa fa-lock'></span><span>&nbsp;&nbsp;Confirm Password</span></li>
                    <li class="input"><input type='password' id="confirm_password"></li>
                    
                    <li class="button"><input type="submit" value="Register"></li>
                    <li class="full"><a href='\login'>Already on Dacsee eWallet (?)</a></li>
                </ul>
            </form>
        </div>
        <script>
            var password = document.getElementById("password");
            var confirm_password = document.getElementById("confirm_password");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords don't match");
                } else if (password.value.length < 8) {
                    password.setCustomValidity("password length must be minimum 8 characters");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;

        </script>
        <% include partials/footer.ejs %>

</body>

</html>
